[Unit]
Description=Send Daily Report at Midnight UTC
Requires=mumo-daily-report.service

[Timer]
OnCalendar=daily
OnCalendar=*-*-* 00:00:00
Unit=mumo-daily-report.service

[Install]
WantedBy=timers.target
